<a href="https://colab.research.google.com/github/tobyzawthuhtet/deep-learning-/blob/main/Deep_Neural_network.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import keras

In [ ]:
df = pd.read_csv('/content/sample_data/HousingPrices.csv')

In [ ]:
df.head()

   YearBuilt  2ndFlrSF  GrLivArea  ...  TotRmsAbvGrd  YrSold  SalePrice
0       2003       854       1710  ...             8    2008     208500
1       1976         0       1262  ...             6    2007     181500
2       2001       866       1786  ...             6    2008     223500
3       1915       756       1717  ...             7    2006     140000
4       2000      1053       2198  ...             9    2008     250000

[5 rows x 9 columns]

In [ ]:
x = df.drop(columns=['SalePrice'])
y = df[('SalePrice')]

In [ ]:
model = keras.Sequential()
model.add(keras.layers.Dense(8 , activation= 'relu', input_shape=(8,)))
model.add(keras.layers.Dense(8 , activation='relu'))
model.add(keras.layers.Dense(1))

In [ ]:
model.compile(optimizer='adam' , loss = 'mean_squared_error')

In [ ]:
model.fit( x ,y , epochs= 30, batch_size= 10)

Epoch 1/30
146/146 [==============================] - 0s 816us/step - loss: 38552993792.0000
Epoch 2/30
146/146 [==============================] - 0s 832us/step - loss: 35470024704.0000
Epoch 3/30
146/146 [==============================] - 0s 830us/step - loss: 25979340800.0000
Epoch 4/30
146/146 [==============================] - 0s 803us/step - loss: 12795966464.0000
Epoch 5/30
146/146 [==============================] - 0s 781us/step - loss: 5630726656.0000
Epoch 6/30
146/146 [==============================] - 0s 790us/step - loss: 4340742656.0000
Epoch 7/30
146/146 [==============================] - 0s 802us/step - loss: 4273762816.0000
Epoch 8/30
146/146 [==============================] - 0s 786us/step - loss: 4250677760.0000
Epoch 9/30
146/146 [==============================] - 0s 952us/step - loss: 4215862528.0000
Epoch 10/30
146/146 [==============================] - 0s 829us/step - loss: 4196385792.0000
Epoch 11/30
146/146 [==============================] - 0s 843us/step - loss: 4164093440.0000
Epoch 12/30
146/146 [==============================] - 0s 805us/step - loss: 4140402176.0000
Epoch 13/30
146/146 [==============================] - 0s 772us/step - loss: 4114300416.0000
Epoch 14/30
146/146 [==============================] - 0s 807us/step - loss: 4083112960.0000
Epoch 15/30
146/146 [==============================] - 0s 769us/step - loss: 4054854144.0000
Epoch 16/30
146/146 [==============================] - 0s 826us/step - loss: 4026528256.0000
Epoch 17/30
146/146 [==============================] - 0s 829us/step - loss: 4000133632.0000
Epoch 18/30
146/146 [==============================] - 0s 815us/step - loss: 3970224128.0000
Epoch 19/30
146/146 [==============================] - 0s 777us/step - loss: 3938348800.0000
Epoch 20/30
146/146 [==============================] - 0s 826us/step - loss: 3916024576.0000
Epoch 21/30
146/146 [==============================] - 0s 769us/step - loss: 3891693312.0000
Epoch 22/30
146/146 [==============================] - 0s 785us/step - loss: 3849121280.0000
Epoch 23/30
146/146 [==============================] - 0s 851us/step - loss: 3818824448.0000
Epoch 24/30
146/146 [==============================] - 0s 804us/step - loss: 3768103936.0000
Epoch 25/30
146/146 [==============================] - 0s 807us/step - loss: 3728381440.0000
Epoch 26/30
146/146 [==============================] - 0s 791us/step - loss: 3680278272.0000
Epoch 27/30
146/146 [==============================] - 0s 789us/step - loss: 3637464576.0000
Epoch 28/30
146/146 [==============================] - 0s 836us/step - loss: 3589263360.0000
Epoch 29/30
146/146 [==============================] - 0s 774us/step - loss: 3561517056.0000
Epoch 30/30
146/146 [==============================] - 0s 798us/step - loss: 3517326848.0000

In [ ]:
test_data = np.array([2003,	854,	1710,	2,	1	,3,	8,	2008	])
print (model.predict(test_data.reshape (1,8), batch_size= 1))

[[199983.28]]

In [ ]:
model.save('housing_model.h5')

In [ ]:
old_model = keras.models.load_model('/content/housing_model.h5')

In [ ]:
test_data = np.array([2003,	854,	1710,	2,	1	,3,	8,	2008	])
print (model.predict(test_data.reshape (1,8), batch_size= 1))

[[199983.28]]

In [ ]:
model.layers

[<tensorflow.python.keras.layers.core.Dense at 0x7f52bd4eca90>,
 <tensorflow.python.keras.layers.core.Dense at 0x7f52d4d62978>,
 <tensorflow.python.keras.layers.core.Dense at 0x7f52bd27ee10>]